.back-to-top {
  width: 30px;
  height: 30px;
  bottom: 5vw;
  right: 5vw;
  position: fixed;
  background-color: $gray;
  box-shadow: $shadow;
  opacity: 0.5;
  @media #{$tablet} {
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 20px;
  }
    &.hidden {
      opacity: 0;
    }
    &:hover {
      opacity: 1;
    }
}