.social {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
  @media #{$tablet} {
    flex-direction: row;
    justify-content: space-between;
    margin: 60px 0px;
  }
  a {
    flex-direction: column;
    width: 250px;
    height: 250px;
    box-shadow: $shadow;
    margin: 20px;
    position: relative;
    @media #{$tablet} {
      margin-bottom: 0px;
    }
    @media #{$desktop} {
      width: 325px;
      height: 325px;
      margin: 0px;
    }
    &:last-child {
      margin-bottom: 0px;
    }
    &:hover {
      transform: scale(1.05);
    }
    &:after {
      width: 40px;
      height: 40px;
      top: 25px;
      left: calc(50% - 20px);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url('/assets/icons/logo-instagram-white.png');
    }
  }
}
